= form_for team do |f|
  -if team.errors.any?
    #error_explanation
      %h2= "#{pluralize(team.errors.count, "error")} prohibited this team from being saved:"
      %ul
        - team.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :key, 'Number'
    = f.text_field :key
  .field
    = f.label :manager_id
    = f.collection_select :manager_id, managers, :id, :full_name, { prompt: true }
  .field
    = f.label :description, 'Team Name'
    = f.text_field :description
  .field
    = f.label :state, 'Status'
    =# f.text_field :state
    Active
  .actions
    = f.submit 'Save'
    = link_to 'Back', teams_path
