.employees.index
  %h1 #{current_company.display_name} Employees
  .grid_8.push_2.clearfix
    %table
      %tr
        %th Number
        %th Full Name
        %th Date Started
        %th &nbsp;
      - employees.each do |employee|
        %tr{ color_cycle }
          %td= employee.key
          %td= employee.full_name
          %td= employee.started_at.to_s(:long)
          %td
            .actions
              = # link_to 'Show', employee
              = link_to 'Edit', edit_employee_path(employee)
              = # link_to 'Destroy', employee, :confirm => 'Are you sure?', :method => :delete
      %tr
        %td{ colspan: '4' }
          .actions
            = link_to 'Add New Employee', new_employee_path
