.rosters
  .grid_2
    =# link_to '< Prior 4 Weeks', month: (current_date.beginning_of_month - 1).strftime('%Y-%m')
    &nbsp;
  .grid_8
    %h1#month #{h current_date.strftime("%B %Y")} Roster
  .grid_2
    =# link_to 'Next 4 Weeks >', month: (current_date.end_of_month + 1).strftime('%Y-%m')
    &nbsp;
  .calendar
    = calendar_for rosters, year: current_date.year, month: current_date.month do |calendar|
      = calendar.head 'Sun', 'Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat'
      = calendar.day(:id => 'date_%Y%m%d') do |date, rosters|
        %span.date_day= date.day
        - rosters.each do |roster|
          = link_to roster.project.customer.short_name, edit_roster_path(roster, date: date), { class: "roster billing_probability_#{roster.billing_probability}" }
          =# "link_to 'Destroy', roster, data: { confirm: 'Are you sure?' }, :method => :delete"

- if false
  = link_to 'Show', roster
  = link_to 'New Roster', new_roster_path
