.roster
  %h1 Roster
  .calendar
    = calendar_for(rosters) do |calendar|
      = calendar.head('Sun', 'Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat')
      = calendar.day do |date, rosters|
        = date.day
        - rosters.each do |roster|
          =# h roster.roster_date

  - if false
    (:id => 'roster_date_%d')
    - rosters.each do |roster|
      = link_to 'Show', roster
      = link_to 'Edit', edit_roster_path(roster)
      = link_to 'Destroy', roster, :confirm => 'Are you sure?', :method => :delete
    = link_to 'New Roster', new_roster_path
