.schedule_rates.index.grid_6.push_3
  %h1 Rates Schedule
  = render 'header'
  %table
    %tr
      %th.verified Verified
      %th.schedule_rate Daily Rate
      %th.until Until
    - if schedule_rates.empty?
      %tr
        %td.empty_schedule{ colspan: '3' }
          No Contract Rates
    - else
      - schedule_rates.chronological.each do |schedule_rate|
        %tr
          %td.verified
            = # schedule_rate.state :state
            = check_box_tag 'Verified', true, {}, { disabled: true }
          %td.schedule_rate
            = schedule_rate.contract_rate
          %td.until
            - if schedule_rate.until
              = schedule_rate.until.strftime '%A, %B %e %Y'
            - else
              Until end of project
  %hr
  .clearfix
    .actions
      = link_to 'Add Schedule', new_project_schedule_rate_path(project)
      - if return_to_path
        = link_to 'Back to Roster', return_to_path