.roster_dates.duplicate.grid_6.push_3
  %h1 Duplicate Week
  %h2 Starting #{duplicate_date.to_formatted_s(:long)} Until #{duplicate_date.end_of_week.to_formatted_s(:long)}
  = form_tag copy_roster_dates_path do
    = hidden_field_tag 'duplicate[date]', duplicate_date
    = wday_check_box_tags class: 'grid_3 alpha'
    .grid_3.weeks.omega
      = label_tag 'duplicate[weeks]', 'Weeks'
      = text_field_tag 'duplicate[weeks]'
      = submit_tag 'Copy'
      = link_to 'Cancel', :back