.roster_dates.duplicate.grid_8.push_2
  %h1 Duplicate Week
  %h2 Starting #{duplicate_date.beginning_of_week(:sunday).to_formatted_s(:long)} until #{duplicate_date.end_of_week(:sunday).to_formatted_s(:long)}
  = form_tag copy_roster_dates_path do
    = hidden_field_tag 'duplicate[date]', duplicate_date
    .calendar
      = calendar_for roster_dates, first: duplicate_date, last: duplicate_date do |calendar|
        = calendar.head 'Sun', 'Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat'
        = calendar.day(id: 'date_%Y%m%d') do |date, roster_date|
          - if roster_date = roster_date.first          
            %span.copy
              - id = "wday_#{roster_date.date.wday}"
              = check_box_tag 'duplicate[wday][]', roster_date.date.wday, false, { id: id }
              = # link_to date.day, edit_roster_date_path(roster_date), class: 'roster_date_day_number' 
              = # label_tag id, 'Copy'
              = label_tag id, date.day
            - roster_date.rosters.each do |roster|
              = link_to roster.project.customer.key, edit_roster_date_path(roster_date), { class: "roster activity_#{roster.activity.key}" }
          - else
            .roster_date_day_number
              = date.day
      .actions
        = label_tag 'duplicate[weeks]', 'Weeks'
        = text_field_tag 'duplicate[weeks]'
        = submit_tag 'Copy'
        = link_to 'Cancel', :back
