= form_for company do |f|
  -if company.errors.any?
    #error_explanation
      %h2= "#{pluralize(company.errors.count, "error")} prohibited this company from being saved:"
      %ul
        - company.errors.full_messages.each do |msg|
          %li= msg
  .clearfix
    .field.company_key
      = f.label :key
      = f.text_field :key
    .field.company_name
      = f.label :name
      = f.text_field :name
  %hr
  .actions
    = f.submit 'Save'
    = link_to 'Cancel', :back