!!!
%html
  %head
    %title Origin12
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .header
      .container_12
        .grid_3
          = image_tag 'origin-45px.png', :alt => 'Origin12'
        %ul.nav.grid_5.push_4
          %li= link_to 'Roster', roster_path
          %li= link_to 'Timesheet', '#'
          %li= link_to 'Scorecard', '#'
          %li
            %a{:href => "#"} Admin
            %ul
              %li= link_to 'Customers', '#'
              %li= link_to 'Companies', companies_path
              %li= link_to 'Employees', employees_path
              %li= link_to 'Teams', teams_path
          %li= link_to 'John Citizen', '#'
    :javascript
      $(function() {
        $('.nav').droppy({trigger: 'click', speed: 50});
      });
    .container_12
      = yield
    .footer
